<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619399996397-i4fotta9n6kvsfdimhq2qdpg94ik8h4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619399996397-i4fotta9n6kvsfdimhq2qdpg94ik8h4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDDTjcmrQ_UX68ULGiQDMUOqQ78cK8Gk0M</string>
	<key>GCM_SENDER_ID</key>
	<string>619399996397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beautyPariour2</string>
	<key>PROJECT_ID</key>
	<string>cosmetics-d6219</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmetics-d6219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619399996397:ios:660542dd3f8b2cafa5fde4</string>
</dict>
</plist>